body{
    background-color: cadetblue;
}
li {
    margin-left: 50px;
}
#activo {
    color: brown;
}
li:hover {
    background-color: bisque;
    color: rgb(196, 232, 255);
}
#titulo {
    text-align: center;
    color: coral;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid antiquewhite;
}
button {
    margin-top: 10px;
}
#Registrar_Plato, #Registrar_Categoria {
    margin-top: 10px;
}
#registro {
    padding: 10px;
    background-color: blueviolet;
}
#pedido_realizado {
    margin-left:440px;
}
#accion_pedido_realizado{
    text-align-last: right;
}
.color {
    color: antiquewhite;
}
#enviar {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    
}
#ancho {
    width: 30%;
}